@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Vesper+Libre:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252a;
}
a,li,button{
font-family: 'Vesper Libre', serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo{
    cursor: help;
    order: 3;
    margin-left: auto;

}
nav{
    order: 1;
}
.nav_links{}
.nav_links li{
   display: inline-block;
padding: 0px 20px;

}
.nav_links li:nth-child(1){
padding: 0 20px 0 0;

}
.nav_links li a{ 
    color: white;
    transition: all .3s ease 0s;
    cursor: pointer;
      

}
.nav_links li a:hover{
    color: blueviolet;
}
.btn{
    order: 2;
}
button{
    padding: 9px 25px;
    background-color: rgba(37, 37, 226,1);
    border: none;
    border-radius: 50px;
    transition: all .3s ease 0s;
    cursor: grab;
    margin-left: 30px;
    
}
button:hover{
    background-color: rgba(37, 37, 226,.5);
    
}
